@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Inconsolata|Roboto+Mono');

body {
  margin: 2em auto;
  padding: 0;
  font-family: sans-serif;
  background-color: #25292F;
}

h1 {
  color: #31a2dc;
  font-family: 'Fira Mono', monospace;
}

h2 {
  color: #31dc70;
  font-family: 'Roboto Mono', monospace;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #343d4f;
  margin: 1em 0;
  padding: 0;
}

.header {
  padding-bottom: 3em;
  padding-left: 1em;
}

.Home {
  margin: 1em 2em;
  display: grid;
  grid-gap: 2em;
}

.logo {
  font-size: 3em;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  transition: text-shadow 1s;
  margin: 0;
}

.logoLink {
  text-decoration-color: #31a2dc;
  text-decoration: none;
}

.logo:hover {
  text-shadow: 2px 2px rgba(28, 37, 80, 0.705);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  top: 0;
  right: 0;
  position: absolute;
  margin: 2em 3em;
  width: 15%;
  font-size: 1.1em;
}

.nav > a {
  color: #fe8383;
  font-family: 'Inconsolata', monospace;
  text-decoration-color: #af7e7e;
}

.splash {
  margin: 0 auto;
}

.intro {
  text-align: center;
  /* margin: 0 auto; */
}

.topicLinkWrap {
  text-decoration: none;
}

.topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 95%;
}

.topicItem {
  border: 1px solid #26688a;
  border-radius: 5px;
  padding: 1em;
  transition: border .3s;
}

.topicItem:hover {
  border: 1px solid #fe8383;  
}

.topicName > h2 {
  text-align: center;
}
.topicImage > img {
  width: 90%;
  margin: auto;
  display: block;
}

.topicsButton {
  color: #31a2dc;  
  font-family: 'Inconsolata', monospace;
  font-size: 1.1em;
  font-weight: bolder;
  margin: 3em auto;
  display: block;
  width: 140px;
  text-decoration: none;
  border: 1px solid rgba(146, 250, 149, 0.6);
  border-radius: 4px;
  padding: 0.8em;
  cursor: pointer;
  text-align: center;
  transition: color 0.5s;
}

.topicsButton:hover {
  color: #fe8383;
}

.recentlyAdded {
  max-width: 90%;
  margin: 0 auto;
}

.recentlyAdded > h1 {
  text-align: center;
}

.recentTutorials {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  /* width: 80%; */
}

.recentItem {
  display: block;
  border: 1px solid #26688a;
  border-radius: 5px;  
  padding: 0.5em;
  transition: border .3s;
  /* width: 70%; */
}

.recentItem:hover {
  border: 1px solid #fe8383;    
}

.recentItemLink {
  text-decoration: none;  
}

.recentItemLink > img {
  width: 330px;
  height: 190px;
  /* width: 90%; */
  display: block;
  margin: 1em auto;
}

.tutorialName {
  text-align: center;
  font-size: 1em;
  margin: 1em 2em;
  display: block;
  text-decoration: none;
  text-decoration-style: inherit;
}

.allTopics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  padding: 0 5em;
}

.topicDescription {
  color: #31a2dc;
  font-family: 'Inconsolata', monospace;
  font-size: 0.95em;
  padding: 0 2.3em;
}

.alltopicsName {
  text-align: center;
  font-size: 1.1em;
}

.alltopicsItem {
  border: 1px solid #26688a;
  border-radius: 5px;
  padding: 0.4em;
  transition: border .3s;
}
.alltopicsItem h2 {
  transition: color .5s;
}

.alltopicsItem:hover {
  border: 1px solid #fe8383; 
}

.alltopicsItem:hover h2 {
  color: #31a2dc;
}

.alltopicsImage > img {
  /* width: 90%; */
  width: 20%;
  margin: auto;
  display: block;
}

.showTopic {
  display: grid;
  grid-gap: 2em;
}

.showTopicIntro {
  display: grid;
  grid-gap: 0.75em;
}

.showTopicName {
  text-align: center;
  font-size: 2.8em;
  padding: 0;
  padding-bottom: 0.25em;
  margin: 0 auto;
}

.showTopicImage {
  display: inline-block;
  margin: 0 auto;
  width: 150px;
  /* width: 90%; */
  display: block;
  margin: 0 auto;
}

.showTopicDescription {
  color: #31dc70;
  font-family: 'Inconsolata', monospace;
  max-width: 850px;
  /* padding: 0 10em; */
  margin: 0 auto;
  text-align: center;
}

.showTopicVideosHeader {
  text-align: center;
  font-size: 1.8em;
  margin: 0;
}

.showTopicTutorials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5em;
  padding: 0 5em;
}

.showTopicItem {
  /* width: 100%; */
  border: 1px solid #26688a;
  border-radius: 5px;
  /* padding: 1.8em; */
  transition: border .3s;
  /* font-size: 0.8em; */
}

.showTopicLink > img{
  width: 330px;
  height: 190px;
  /* width: 90%; */
  display: block;
  margin: 1em auto;
}

.showTopicItem:hover {
  border: 1px solid #fe8383; 
}


.showTopicLink {
  text-decoration: none;
}

.showTutorial {
  width: 80%;
  display: grid;
  grid-gap: 2em;
  margin: auto;
}

.showTutorialItem {
  display: block;
}

.showTutorialItem > iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.videoContainer {
  text-align: center;
  width: 100%;
}

.showTutorialName {
  display: inline-block;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: .25em;
}

.showTutorialDescription {
  color: #31a2dc;
  max-width: 90%;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9em;
  padding: 0.5em 2em; 
  margin: 0.4em 0;   
  display: block;
}

.showTutorialComments {
  border: 1px solid #26688a;
  border-radius: 5px;
  padding: 1.5em;
  width: 90%;
}

.showCommentItem{
  padding: 0.5em 1.5em;
}

.commentsHeader {
  margin: 0 auto;
  text-decoration: underline;
}

.commentAuthor {
  font-weight: bold;
  font-size: 1.4em;
  color: #fe8383; 
  margin-bottom: 0.25em;
}

.commentText {
  color: #31dc70; 
  margin: 1em; 
  padding: .5em;
  font-family: 'Roboto Mono', monospace;  
}

.commentDate {
  color: #3e8659; 
  font-size: 0.9em;
  font-family: 'Inconsolata', monospace;
}