@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Inconsolata|Roboto+Mono');

body {
  margin: 2em 2em;
  padding: 0;
  font-family: sans-serif;
  background-color: #25292F;
}

h1 {
  color: #31a2dc;
  font-family: 'Fira Mono', monospace;
}

h2 {
  color: #31dc70;
  font-family: 'Roboto Mono', monospace;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #343d4f;
  margin: 1em 0;
  padding: 0;
}

.Home {
  margin: 1em 2em;
  display: grid;
  grid-gap: 2em;
}

.logo {
  font-size: 3em;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  transition: text-shadow 1s;
}

.logoLink {
  text-decoration-color: #31a2dc;
  text-decoration: none;
}

.logo:hover {
  text-shadow: 2px 2px rgba(28, 37, 80, 0.705);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  top: 0;
  right: 0;
  position: absolute;
  margin: 2em 3em;
  width: 15%;
  font-size: 1.1em;
}

.nav > a {
  color: #fe8383;
  font-family: 'Inconsolata', monospace;
  text-decoration-color: #af7e7e;
}

.splash {
  margin: 0 auto;
}

.intro {
  text-align: center;
  /* margin: 0 auto; */
}

.topicLinkWrap {
  text-decoration: none;
}

.topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 90%;
}

.topicItem {
  border: 1px solid #26688a;
  border-radius: 5px;
  padding: 1em;
  transition: border .3s;
}

.topicItem:hover {
  border: 1px solid #fe8383;  
}

.topicName > h2 {
  text-align: center;
}
.topicImage > img {
  width: 90%;
  margin: auto;
  display: block;
}

.topicsButton {
  color: #31a2dc;  
  font-family: 'Inconsolata', monospace;
  font-size: 1.1em;
  font-weight: bolder;
  margin: 3em auto;
  display: block;
  width: 140px;
  text-decoration: none;
  border: 1px solid rgba(146, 250, 149, 0.6);
  border-radius: 4px;
  padding: 0.8em;
  cursor: pointer;
  text-align: center;
  transition: color 0.5s;
}

.topicsButton:hover {
  color: #fe8383;
}

.recentlyAdded > h1 {
  text-align: center;
}

.recentTutorials {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  /* width: 80%; */
}

.recentItem {
  display: block;
  border: 1px solid #26688a;
  border-radius: 5px;  
  padding: 0.5em;
  transition: border .3s;
  /* width: 70%; */
}

.recentItem:hover {
  border: 1px solid #fe8383;    
}

.recentItemLink {
  text-decoration: none;  
}

.recentItemLink > img {
  width: 330px;
  height: 190px;
  /* width: 90%; */
  display: block;
  margin: 1em auto;
}

.recentItemLink > .tutorialName {
  text-align: center;
  font-size: 1em;
  margin: 2em;
  display: block;
  text-decoration: none;
  text-decoration-style: inherit;
}

.allTopics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  padding: 0 5em;
}

.topicDescription {
  color: #31a2dc;
  font-family: 'Inconsolata', monospace;
  padding: 0 1em;
}

.alltopicsName {
  text-align: center;
  font-size: 1.3em;
}

.alltopicsItem {
  border: 1px solid #26688a;
  border-radius: 5px;
  padding: 1em;
  transition: border .3s;
}
.alltopicsItem h2 {
  transition: color .5s;
}

.alltopicsItem:hover {
  border: 1px solid #fe8383; 
}

.alltopicsItem:hover h2 {
  color: #31a2dc;
}

.alltopicsImage > img {
  /* width: 90%; */
  margin: auto;
  display: block;
}